html{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
}

.container > div{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

#unlockBtn{
    display: flex;
    justify-content: center;
}

#quitBtn{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);

}

#hint{
    text-align: center;
}

