html{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
}

.container > div{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

#unlockBtn{
    display: flex;
    justify-content: center;
}

